<nb-card size="medium">
  <nb-card-body>
    <div class="location">
      <span>Panama</span>
    </div>
    <div class="date">
      <span>Thursday, 13 September, 2018</span>
    </div>
    <div class="daily-forecast">
      <div class="info">
        <div class="temperature">
          <span>24&deg;</span>
        </div>
        <div class="icon">
          <i class="ion-ios-sunny-outline"></i>
        </div>
      </div>
      <div class="details">
        <div class="parameter">
          <span class="parameter-name">max</span>
          <span class="parameter-value">28&deg;</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">min</span>
          <span class="parameter-value">23&deg;</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">wind</span>
          <span class="parameter-value">2 km/h</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">hum</span>
          <span class="parameter-value">95%</span>
        </div>
      </div>
    </div>
    <div class="weekly-forecast">
      <div class="day">
        <span class="caption">Fri</span>
        <i class="ion-ios-cloudy-outline"></i>
        <span class="temperature">29&deg;</span>
      </div>
      <div class="day">
        <span class="caption">Sat</span>
        <i class="ion-ios-sunny-outline"></i>
        <span class="temperature">29&deg;</span>
      </div>
      <div class="day">
        <span class="caption">Sun</span>
        <i class="ion-ios-rainy-outline"></i>
        <span class="temperature">30&deg;</span>
      </div>
      <div class="day">
        <span class="caption">Mon</span>
        <i class="ion-ios-partlysunny-outline"></i>
        <span class="temperature">31&deg;</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>
