<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Laika - NSP Dashboard</title>
		<!-- CSS FILES -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}">
		<link rel="shortcut icon" type="image/png" href="{% static 'dashboard/img/favicon.png' %}"/>
		<link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
		<link rel="stylesheet" href="{% static 'dashboard/css/map.css' %}">
	</head>
	<body>
		<div class="uk-offcanvas-content">
			<!--HEADER-->
			<header id="top-head" class="uk-position-fixed">
				<div class="uk-container uk-container-expand uk-background-primary">
					<nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
						<div class="uk-navbar-left">
							<div class="uk-navbar-item uk-hidden@m">
								<a class="uk-logo" href="#"><img class="custom-logo" src="{% static 'dashboard/img/dashboard-logo-white.svg' %}" alt=""></a>
							</div>
							<ul class="uk-navbar-nav uk-visible@m">
								<li><a href="#">Accounts</a></li>
								<li>
									<a href="#">Settings <span data-uk-icon="icon: triangle-down"></span></a>
									<div class="uk-navbar-dropdown">
										<ul class="uk-nav uk-navbar-dropdown-nav">
											<li class="uk-nav-header">YOUR ACCOUNT</li>
											<li><a href="#"><span data-uk-icon="icon: info"></span> Summary</a></li>
											<li><a href="#"><span data-uk-icon="icon: refresh"></span> Edit</a></li>
											<li><a href="#"><span data-uk-icon="icon: settings"></span> Configuration</a></li>
											<li class="uk-nav-divider"></li>
											<li><a href="#"><span data-uk-icon="icon: image"></span> Your Data</a></li>
											<li class="uk-nav-divider"></li>
											<li><a href="#"><span data-uk-icon="icon: sign-out"></span> Logout</a></li>
										</ul>
									</div>
								</li>
							</ul>
							<div class="uk-navbar-item uk-visible@s">
								<form action="dashboard.html" class="uk-search uk-search-default">
									<span data-uk-search-icon></span>
									<input class="uk-search-input search-field" type="search" placeholder="Search">
								</form>
							</div>
						</div>
						<div class="uk-navbar-right">
							<ul class="uk-navbar-nav">
								<li><a href="#" data-uk-icon="icon:user" title="Your profile" data-uk-tooltip></a></li>
								<li><a href="#" data-uk-icon="icon: settings" title="Settings" data-uk-tooltip></a></li>
								<li><a href="#" data-uk-icon="icon:  sign-out" title="Sign Out" data-uk-tooltip></a></li>
								<li><a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav" title="Offcanvas" data-uk-tooltip></a></li>
							</ul>
						</div>
					</nav>
				</div>
			</header>
			<!--/HEADER-->
			<!-- LEFT BAR -->
			<aside id="left-col" class="uk-light uk-visible@m">
				<div class="left-logo uk-flex uk-flex-middle">
					<img class="custom-logo" src="{% static 'dashboard/img/dashboard-logo.svg' %}" alt="">
				</div>
				<div class="left-content-box  content-box-dark">
					<img src="{% static 'dashboard/img/avatar.svg' %}" alt="" class="uk-border-circle profile-img">
					<h4 class="uk-text-center uk-margin-remove-vertical text-light">NSP Dashboard</h4>

					<div class="uk-position-relative uk-text-center uk-display-block">
					    <a href="#" class="uk-text-small uk-text-muted uk-display-block uk-text-center" data-uk-icon="icon: triangle-down; ratio: 0.7">Admin</a>
					    <!-- user dropdown -->
					    <div class="uk-dropdown user-drop" data-uk-dropdown="mode: click; pos: bottom-center; animation: uk-animation-slide-bottom-small; duration: 150">
					    	<ul class="uk-nav uk-dropdown-nav uk-text-left">
									<li><a href="#"><span data-uk-icon="icon: info"></span> Summary</a></li>
									<li><a href="#"><span data-uk-icon="icon: refresh"></span> Edit</a></li>
									<li><a href="#"><span data-uk-icon="icon: settings"></span> Configuration</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="#"><span data-uk-icon="icon: image"></span> Your Data</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="#"><span data-uk-icon="icon: sign-out"></span> Sign Out</a></li>
						    </ul>
					    </div>
					    <!-- /user dropdown -->
					</div>
				</div>

				<div class="left-nav-wrap">
					<ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
						<li class="uk-nav-header">ACTIONS</li>
						<li><a href="../"><span data-uk-icon="icon: home" class="uk-margin-small-right"></span>Dashboard</a></li>
                        <li class="uk-parent"><a href="#"><span data-uk-icon="icon: social" class="uk-margin-small-right"></span>Predictor</a>
							<ul class="uk-nav-sub">
								<li><a href="/burst/">Burst Calculator</a></li>
								<li><a href="#">Landing Predictor</a></li>
							</ul>
						</li>
						<li class="uk-parent"><a href="#"><span data-uk-icon="icon: world" class="uk-margin-small-right"></span>Radars</a>
							<ul class="uk-nav-sub">
								<li><a href="/mapbox/">3D GSP Trajectory</a></li>
								<li><a href="/live/">Live location</a></li>
							</ul>
						</li>
						<li><a href="/files/"><span data-uk-icon="icon: album" class="uk-margin-small-right"></span>Files Received</a></li>
						<li><a href="#"><span data-uk-icon="icon: lifesaver" class="uk-margin-small-right"></span>Emergency</a></li>
					</ul>
					<div class="left-content-box uk-margin-top">

							<h5>Mission Report</h5>
							<div>
								<span class="uk-text-small">Files Traffic <small>(+50)</small></span>
								<progress class="uk-progress" value="50" max="100"></progress>
							</div>
							<div>
								<span class="uk-text-small">Income <small>(+78)</small></span>
								<progress class="uk-progress success" value="78" max="100"></progress>
							</div>
							<div>
								<span class="uk-text-small">Feedback <small>(-12)</small></span>
								<progress class="uk-progress warning" value="12" max="100"></progress>
							</div>

					</div>

				</div>
				<div class="bar-bottom">
					<ul class="uk-subnav uk-flex uk-flex-center uk-child-width-1-5" data-uk-grid>
						<li>
							<a href="#" class="uk-icon-link" data-uk-icon="icon: home" title="Home" data-uk-tooltip></a>
						</li>
						<li>
							<a href="#" class="uk-icon-link" data-uk-icon="icon: settings" title="Settings" data-uk-tooltip></a>
						</li>
						<li>
							<a href="#" class="uk-icon-link" data-uk-icon="icon: social"  title="Social" data-uk-tooltip></a>
						</li>

						<li>
							<a href="#" class="uk-icon-link" data-uk-tooltip="Sign out" data-uk-icon="icon: sign-out"></a>
						</li>
					</ul>
				</div>
			</aside>
			<!-- /LEFT BAR -->
			<!-- CONTENT -->
			<div id="content" data-uk-height-viewport="expand: true">
				<div class="uk-container uk-container-expand">
					<div class="uk-grid uk-grid-medium" data-uk-grid>

						<!-- panel -->
						<div class="uk-width-expand">
							<div class="uk-card uk-card-default uk-card-small uk-card-hover">
								<div class="uk-card-header">
									<div class="uk-grid uk-grid-small">
										<div class="uk-width-auto"><h4>Landing Predictor</h4></div>
										<div class="uk-width-expand uk-text-right panel-icons">
											<a href="#" class="uk-icon-link" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>
											<a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a>
											<a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a>
										</div>
									</div>
								</div>
								<div class="uk-card-body" style="height: 800px">
									<div class="chart-container" style="height: 800px">
										<embed src="http://predict.habhub.org/" width="100%" height="100%">>
									</div>
								</div>
							</div>
						</div>
						<!-- /panel -->

					</div>
					<footer class="uk-section uk-section-small uk-text-center">
						<hr>
						<p class="uk-text-small uk-text-center"><a href="https://github.com/ISPNearSpace">Near Space Program</a> | Built by <a href="https://github.com/imdiegoestevez">Diego</a> and <a href="https://github.com/monchiestevez">Monchi Estevez</a> </p>
					</footer>
				</div>
			</div>
			<!-- /CONTENT -->
			<!-- OFFCANVAS -->
			<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
				<div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
					<button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
					<ul class="uk-nav uk-nav-default">
						<li class="uk-active"><a href="#">Active</a></li>
						<li class="uk-parent">
							<a href="#">Parent</a>
							<ul class="uk-nav-sub">
								<li><a href="#">Sub item</a></li>
								<li><a href="#">Sub item</a></li>
							</ul>
						</li>
						<li class="uk-nav-header">Header</li>
						<li><a href="#js-options"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"></span> Item</a></li>
						<li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"></span> Item</a></li>
						<li class="uk-nav-divider"></li>
						<li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: trash"></span> Item</a></li>
					</ul>
					<h3>Title</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
			<!-- /OFFCANVAS -->
		</div>

		<!-- JS FILES -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="{% static 'dashboard/js/chartScripts.js' %}"></script>
		<script src="{% static 'dashboard/js/weather.js' %}"></script>
		<script src="{% static 'dashboard/js/map.js' %}"></script>
	</body>
</html>
